<div class="animated fadeIn">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <!-- Category Table -->
        <h2>Category Table</h2>
        <!-- Category Button Group-->
        <div class="form-group">
          <button type="button" class="btn btn-primary mr-2" (click)="categoryAddModal.show();">Add</button>
          <button type="button" class="btn btn-warning mr-2" (click)="metricsCategoryEditModal.show()"
            [disabled]="selectedCategory==null?true:null">Edit</button>
          <button type="button" class="btn btn-danger mr-2" (click)="metricsCategoryDeleteModal.show()"
            [disabled]="(selectedCategory==null||assessments==null||assessments.length!=0)?true:null">Delete</button>
        </div>
        <div style="height: 300px;overflow: auto;">
          <table class="table table-bordered" >
            <thead style="overflow:inherit;">
              <tr>
                <th width="15%">ID</th>
                <th>Name</th>
              </tr>
            </thead>
            <tbody *ngFor="let category of allCategory">
              <tr class="category" [class.selected]="category === selectedCategory"
                (click)="onSelectCategory(category)">
                <td width="15%">{{category.id}}</td>
                <td width="85%">{{category.name}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Add Category Modal-->
<div bsModal #categoryAddModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add Category </h4>
        <button type="button" class="close" (click)="categoryAddModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!--Add Category Main-->
        <div class="modal-body">
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="count">Name</label>
            <div class="col-md-9">
              <input class="form-control is-valid" id="count" name="count"
              [value]  (change)="onChange($event)" >
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="categoryAddModal.hide()">Close</button>
          <button type="submit" class="btn btn-primary" (click)="addCategory();categoryAddModal.hide()">Add</button>
        </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
