<div class="animated fadeIn">
  <div class='card'>
    <div class='card-header'>
      <h5>Transaction Dashboard</h5>
      <!--<div class='input-group'>
        <span class="input-group-prepend">
          <button class="btn btn-primary" type="button" [disabled]='true'><i class="fa fa-search"></i></button></span>
        <input type='text' placeholder="Search" class='form-control col-md-2' [(ngModel)]='search'>
      </div>-->
    </div>
    <div class='card-body' style="overflow-x:auto;">
      <table class='table table-striped' style="text-align:center;">
        <thead>
          <tr>
            <th width="13%" class='text-left'>Product name</th>
            <th width="13%" class='text-left'>Buyer</th>
            <th width="12%" class='text-left'>Price</th>
            <th width="12%" class='text-left'>Cost</th>
            <th width="12%" class='text-left'>Count</th>
            <th width="12%" class='text-left'>Profit</th>
            <th width="20%" class='text-left'>Time</th>
          </tr>
        </thead>
        <tbody *ngFor="let transaction of allTransaction">
          <tr >
            <th class='text-left' width="13%">
              {{transaction.shelfProduct.purchaseDetail.product.name}}
            </th>
            <th class='text-left' width="13%">
              {{transaction.user.name}}
            </th>
            <th class='text-left' width="12%">
              {{transaction.shelfProduct.price}}$
            </th>
            <th class='text-left' width="12%">
              {{transaction.shelfProduct.purchaseDetail.cost}}$
            </th>
            <th class='text-left' width="12%">
              {{transaction.count}}
            </th>
            <th class='text-left' width="12%">
              {{ (transaction.shelfProduct.price - transaction.shelfProduct.purchaseDetail.cost) * transaction.count }}$
            </th>
            <th class='text-left' width="20%">
              {{transaction.time}}
            </th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


